<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
      <button @click="show = !show">Button</button>
      <h1 v-if="show">Hcode Treinamento</h1>
      <h1 v-else>Oh não</h1>
      
      <input type="text" v-model="tickets">
      <h3 key="available" v-if="tickets > 10">Há ingressos disponíveis</h3>
      <h3 v-else-if="tickets <= 10">
        Os ingressos estão acabando {{ tickets }} restantes
      </h3>
      <h3 key="empty" v-else>Os ingresos acabaram</h3>
    </div>

    <script>
      const { createApp } = Vue
      createApp({
        data() {
          return {
            show: true,
            tickets: 100
          }
        }
      }).mount('#app')
    </script>
  </body>
</html>

